attrdict>=2.0.1
click
ipython-sql
ipywidgets,
jinja2,
jsonrpcclient
markdownTable
matplotlib
mysql-connector-python
networkx
pandas
py-markdown-table>=1.0
pydantic
pydantic-settings
pyparsing>=2.4.7
pytest>=6.2.4
python-box
python-dotenv>=0.18.0
SQLAlchemy
sqlalchemy-utils
timelink
typer
